@charset "utf-8";

body
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #58595b;
}

h1, h2
{
	font-size: 20px;
	color: #70803c;
	font-weight: normal;
	padding: 0px;
	margin: 0px 0px 15px 0px;
}

h1 a:link, h1 a:visited, h1 a:active, h2 a:link, h2 a:visited, h2 a:active
{
	text-decoration: none;
}

p
{
	padding: 0px;
	margin: 0px 0px 15px 0px;
}

ul
{
	padding-left: 15px;
	margin-left: 0px;
}

a:link, a:visited, a:active
{
	color: #70803c;
}

a:hover
{
	color: #58595b;
}

.bannerAttr
{
	font-size: 12px;
	color: #ffffff;
	font-style: italic;
}

.bannerCount
{
	color: #ffffff;
	font-size: 12px;
}

.bannerQuote
{
	font-size: 16px;
	color: #ffffff;
}

.copyright
{
	color: #b3b3b3;
	font-size: 10px;
}

.naviItem .dropDownItem a:link, .naviItem .dropDownItem a:visited, .naviItem .dropDownItem a:active
{
	display: block;
	font-size: 14px;
	padding: 3px 0px;
	border: 0px;
}

.footer .downloadBrochure a:link, .footer .downloadBrochure a:visited, .footer .downloadBrochure a:active
{
	display: block;
	padding: 12px 0px 12px 35px;
	background: url(../images/download.gif) center left no-repeat;
	border: 0px;
}

.footer a:link, .footer a:visited, .footer a:active
{
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
	padding: 1px 9px 2px 9px;
	border-right: 1px solid #ffffff;
}

.footer a:hover
{
	text-decoration: underline;
}

.intro
{
	font-size: 16px;
}

.mapBox
{
	color: #ffffff;
}

.mapBoxHeader
{
	font-size: 20px;
}

.mapInfo
{
	font-size: 10px;
}

.mapInfo ul
{
	margin-left: 0px;
	padding-left: 15px;
}

.mapInfo ul li
{
	margin-bottom: 2px;
}

.mapText
{
	font-size: 12px;
}

.naviItem a:link, .naviItem a:visited, .naviItem a:active
{
	font-size: 16px;
	color: #58595b;
	text-decoration: none;
	padding: 13px 19px 13px 19px;
	border-right: 1px solid #ffffff;
}

.naviItem a:hover, .naviItem a.active:link, .naviItem a.active:visited, .naviItem a.active:active
{
	color: #70803c;
}